<form action="/members" method="post">

  <label for="first-name-field">First name:</label>
  <input type="text" name="first_name" id="first-name-field"/>

  <label for="last-name-field">Last name:</label>
  <input type="text" name="last_name" id="last-name-field"/>

  <input type="submit" value="Register">

</form>
