<h1>Classes</h1>

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th>Day</th>
    <th></th>
    <th>Time</th>
  </tr>
  <% for activity in @activities %>
  <tr>
    <td><a href="/activities/<%= activity.id %>"><%= activity.class_name %></a></td>
    <td>|</td>
    <td><%= activity.day %></td>
    <td></td>
    <td><%= activity.class_time %></td>
  </tr>
  <% end %>
</table>
