<h2>Register for a Class</h2>
<form action="/activities" method="post">

  <label for="activity_select">Select Class:</label>
   <select name="activity_id" id="activity_select">
     <% @activities.each do |activity| %>
         <option value=<%= activity.id %>><%= activity.class_name %></option>
     <% end %>
   </select>

  <input type="submit" value="Register for a Class">

</form>
