<h2>Create Class</h2>
<form action="/activities" method="post">

  <label for="class-name-field">Class Name:</label>
  <input type="text" name="class_name" id="class-name-field"/>

  <label for="day-field">Day:</label>
  <input type="text" name="day" id="day-field"/>

  <label for="class-time-field">Class Time</label>
  <input type="text" name="class_time" id="class-time-field"/>

  <input type="submit" value="Create Class">

</form>
