<h2><%= @activity.class_name %> (activity)</h2>

<p>Day: <%= @activity.day %></p>

<h3>Time: <%= @activity.class_time %></h3>

<h3>Members:</h3>

<ul>
  <% @activity.members.each do |member| %>
  <li><%= member.first_name %></li>
  <% end %>
</ul>
