<div class="area">
  <div class="bubble">
    <h1>Rafa's Club Management Software</h1>
  </div>
  <div class="">
    <p>A Software built to manage your fitness club, Rafa's Club offers a simple and intuitive web-based platform that will help you create and manage multiple membership plans. You will be able to schedule classes, track and update member information and give the customer the freedom to book online from anywhere, at anytime.</p>
  </div>
</div>
