<div class="area">
  <div class="bubble">
    <h1>Rafa's Club Management Software</h1>
  </div>
  <div class="">
    <p>Mobile-Friendly & Intuitive Rafa's Club offers a simple and intuitive web-based platform that will help you grow, nurture and retain your valued members. You’ll be able to schedule classes and appointments, enroll clients, manage profiles, and see business data from wherever you are.</p>
  </div>
</div>
