<!DOCTYPE html>
<html>
<head>
  <title>Gym</title>
</head>
<body>
  <nav>
    <ul>
      <li>
        <a href="/members">Members</a>
        </li>
      </ul>
    </nav>
  <%= yield %>
</body>
</html>
