<!DOCTYPE html>
<html>
<head>
  <title>Gym</title>
</head>
<body>
  <nav>
    <ul>
      <li>
        <a href="/members">View All Members</a>
      </li>
      <li>
        <a href="/activities">View All Classes</a>
      </li>
      <li>
        <a href="/registrations">View all Registrations</a>
      </li>
      <li>
        <a href="/members/new">Create Member</a>
      </li>
      <li>
        <a href="/activities/new">Create Class</a>
      </li>
      <li>
        <a href="/registrations/new">Register for a Class</a>
      </li>
    </ul>
  </nav>
  <%= yield %>
</body>
</html>
