<!DOCTYPE html>
<html>
<head>
  <style>
    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      background-color: #333;
    }

    li {
      float: left;
    }

    li a {
      display: block;
      color: white;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
    }

    li a:hover {
      background-color: #111;
    }
  </style>
  <title>Rafa's Club</title>
  <link rel="stylesheet" type="text/css" href="/styles/buttons.css">
  <link rel="stylesheet" type="text/css" href="/styles/forms.css">
  <link rel="stylesheet" type="text/css" href="/styles/structure.css">
  <link rel="stylesheet" type="text/css" href="/styles/tables.css">
</head>
<body>
  <nav>
    <ul>
      <li>
        <a href="/members">View All Members</a>
      </li>
      <li>
        <a href="/activities">View All Classes</a>
      </li>
      <li>
        <a href="/registrations">View all Registrations</a>
      </li>
      <li>
        <a href="/members/new">Create Member</a>
      </li>
      <li>
        <a href="/activities/new">Create Class</a>
      </li>
      <li>
        <a href="/registrations/new">Register for a Class</a>
      </li>
    </ul>      
  </nav>
  <%= yield %>
</body>
</html>
